openapi: 3.0.2
info:
  title: LI.FI API
  version: 1.0.0
  description: LI.FI provides the best cross-chain swap across all liquidity pools and bridges.
servers:
  - url: 'https://li.quest'
    description: LI.FI Production Environment
  - url: 'https://staging.li.quest'
    description: LI.FI Staging Environment
paths:
  /v1/tokens:
    get:
      parameters:
        - example: 'POL,DAI'
          name: chains
          description: Restrict the resulting tokens to the given chains
          schema:
            type: string
          in: query
          required: false
        - example: 'EVM,SVM'
          name: chainTypes
          description: Restrict the resulting tokens to the given chainTypes.
          schema:
            type: string
          in: query
          required: false
        - example: 0.01
          name: minPriceUSD
          description: >-
            Filters results by minimum token price in USD. Minimum value for this parameter is 0.
            Defaults to 0.0001 USD.
          schema:
            type: number
          in: query
          required: false
        - name: x-lifi-api-key
          description: 'Authentication header, contact support if you want to get registered.'
          schema:
            type: string
          in: header
      responses:
        '200':
          $ref: '#/components/responses/TokensResponse'
      summary: Fetch all known tokens
      description: This endpoint can be used to fetch all tokens known to the LI.FI services.
  /v1/token:
    get:
      parameters:
        - example: POL
          name: chain
          description: Id or key of the chain that contains the token
          schema:
            type: string
          in: query
          required: true
        - example: DAI
          name: token
          description: Address or symbol of the token on the requested chain
          schema:
            type: string
          in: query
          required: true
        - name: x-lifi-api-key
          description: 'Authentication header, contact support if you want to get registered.'
          schema:
            type: string
          in: header
      responses:
        '200':
          $ref: '#/components/responses/TokenResponse'
        '400':
          $ref: '#/components/responses/InvalidChainResponse'
        '404':
          $ref: '#/components/responses/NoTokenFound'
      summary: Fetch information about a Token
      description: >-
        This endpoint can be used to get more information about a token by its address or symbol and
        its chain.

        If you want to learn more about how to use this endpoint please have a look at our
        [guide](https://docs.li.fi/more-integration-options/li.fi-api/getting-token-information).
  /v1/quote:
    get:
      parameters:
        - example: DAI
          name: fromChain
          description: The sending chain. Can be the chain id or chain key
          schema:
            type: string
          in: query
          required: true
        - example: POL
          name: toChain
          description: The receiving chain. Can be the chain id or chain key
          schema:
            type: string
          in: query
          required: true
        - example: '0x4ecaba5870353805a9f068101a40e0f32ed605c6'
          name: fromToken
          description: The token that should be transferred. Can be the address or the symbol
          schema:
            type: string
          in: query
          required: true
        - example: '0x2791bca1f2de4661ed88a30c99a7a9449aa84174'
          name: toToken
          description: The token that should be transferred to. Can be the address or the symbol
          schema:
            type: string
          in: query
          required: true
        - example: '0x552008c0f6870c2f77e5cC1d2eb9bdff03e30Ea0'
          name: fromAddress
          description: The sending wallet address
          schema:
            type: string
          in: query
          required: true
        - example: '0x552008c0f6870c2f77e5cC1d2eb9bdff03e30Ea0'
          name: toAddress
          description: 'The receiving wallet address. If none is provided, the fromAddress will be used'
          schema:
            type: string
          in: query
          required: false
        - example: '1000000'
          name: fromAmount
          description: >-
            The amount that should be sent including all decimals (e.g. 1000000 for 1 USDC (6
            decimals))
          schema:
            type: string
          in: query
          required: true
        - name: order
          description: >-
            Which kind of route should be preferred **FASTEST**: This sorting criterion
            prioritizes routes with the shortest estimated execution time. Users who value speed
            and want their transactions to be completed as quickly as possible should choose the
            fastest routes. **CHEAPEST**: This criterion focuses on minimizing the cost of the
            transaction, whether in token amount or USD amount (USD amount minus gas cost). Users
            looking for the most economical option should choose the cheapest routes.
          schema:
            enum:
              - FASTEST
              - CHEAPEST
            type: string
          in: query
        - example: 0.005
          name: slippage
          description: >-
            The maximum allowed slippage for the transaction as a decimal value. 0.005 represents
            0.5%.
          schema:
            maximum: 1
            minimum: 0
            type: number
          in: query
        - example: fee-demo
          name: integrator
          description: A string containing tracking information about the integrator of the API
          schema:
            type: string
          in: query
        - example: 0.02
          name: fee
          description: >-
            The percent of the integrator's fee that is taken from every transaction. 0.02
            represents 2%. The maximum fee amount should be less than 100%.
          schema:
            maximum: 1
            exclusiveMaximum: true
            minimum: 0
            type: number
          in: query
        - name: referrer
          description: A string containing tracking information about the referrer of the integrator
          schema:
            type: string
          in: query
          required: false
        - example: 'hop,cbridge'
          name: allowBridges
          description: >-
            List of bridges that are allowed for this transaction. Retrieve the current catalog from
            the `/v1/tools` endpoint. Also values `all`, `none`, `default` and `[]` are acceptable and
            mean all tools of the current type (`all`), no tools (for `none` and `[]` cases) and
            default tool's settings on the current stage.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/QuoteBridgesEnum'
          in: query
        - name: allowExchanges
          description: >-
            List of exchanges that are allowed for this transaction. Retrieve the current catalog
            from the `/v1/tools` endpoint. Also values `all`, `none`, `default` and `[]` are acceptable
            and mean all tools of the current type (`all`), no tools (for `none` and `[]` cases) and
            default tool's settings on the current stage.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/QuoteExchangesEnum'
          in: query
        - example: relay
          name: denyBridges
          description: >-
            List of bridges that are not allowed for this transaction. Retrieve the current catalog
            from the `/v1/tools` endpoint. Also values `all`, `none`, `default` and `[]` are acceptable
            and mean all tools of the current type (`all`), no tools (for `none` and `[]` cases)
            and default tool's settings on the current stage.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/QuoteBridgesEnum'
          in: query
        - name: denyExchanges
          description: >-
            List of exchanges that are not allowed for this transaction. Retrieve the current
            catalog from the `/v1/tools` endpoint. Also values `all`, `none`, `default` and `[]` are
            acceptable and mean all tools of the current type (`all`), no tools (for `none` and `[]`
            cases) and default tool's settings on the current stage.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/QuoteExchangesEnum'
          in: query
        - name: preferBridges
          description: >-
            List of bridges that should be preferred for this transaction. Retrieve the current
            catalog from the `/v1/tools` endpoint. Also values `all`, `none`, `default` and `[]` are
            acceptable and mean all tools of the current type (`all`), no tools (for `none` and
            `[]` cases) and default tool's settings on the current stage.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/QuoteBridgesEnum'
          in: query
        - name: preferExchanges
          description: >-
            List of exchanges that should be preferred for this transaction. Retrieve the current
            catalog from the `/v1/tools` endpoint. Also values `all`, `none`, `default` and `[]` are
            acceptable and mean all tools of the current type (`all`), no tools (for `none` and `[]`
            cases) and default tool's settings on the current stage.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/QuoteExchangesEnum'
          in: query
        - name: allowDestinationCall
          description: >-
            Whether swaps or other contract calls should be allowed as part of the destination
            transaction of a bridge transfer. Separate swap transactions on the destination chain
            are not affected by this flag. By default, parameter is `true`.
          schema:
            type: boolean
          in: query
        - name: fromAmountForGas
          description: The amount of the token to convert to gas on the destination side.
          schema:
            type: string
          in: query
          required: false
        - name: maxPriceImpact
          description: >-
            The price impact threshold above which routes are hidden. As an example, one should
            specify 0.15 (15%) to hide routes with more than 15% price impact. The default is 10%.
          schema:
            type: number
          in: query
        - name: swapStepTimingStrategies
          description: >-
            Timing setting to wait for a certain amount of swap rates. In the format
            `minWaitTime-${minWaitTimeMs}-${startingExpectedResults}-${reduceEveryMs}`. Please
            check [docs.li.fi](https://docs.li.fi) for more details.
          schema:
            type: array
            items:
              type: string
              example: minWaitTime-600-4-300
          in: query
          required: false
        - name: routeTimingStrategies
          description: >-
            Timing setting to wait for a certain amount of routes to be generated before chosing
            the best one. In the format
            `minWaitTime-${minWaitTimeMs}-${startingExpectedResults}-${reduceEveryMs}`. Please
            check [docs.li.fi](https://docs.li.fi) for more details.
          schema:
            type: array
            items:
              type: string
              example: minWaitTime-600-4-300
          in: query
          required: false
        - name: skipSimulation
          description: >-
            Parameter to skip transaction simulation. The quote will be returned faster but the
            transaction gas limit won't be accurate.
          schema:
            type: boolean
          in: query
          required: false
        - name: x-lifi-api-key
          description: 'Authentication header, contact support if you want to get registered.'
          schema:
            type: string
          in: header
      responses:
        '200':
          $ref: '#/components/responses/StepResponse'
        '400':
          $ref: '#/components/responses/InvalidQuoteRequest'
        '404':
          $ref: '#/components/responses/QuoteNotFound'
      summary: Get a quote for a token transfer
      description: >-
        This endpoint can be used to request a quote for a transfer of one token to another, cross
        chain or not.

        The endpoint returns a `Step` object which contains information about the estimated result as
        well as a `transactionRequest` which can directly be sent to your wallet.

        The estimated result can be found inside the `estimate`, containing the estimated `toAmount`
        of the requested `Token` and the `toAmountMin`, which is the guaranteed minimum value that the
        transfer will yield including slippage.

        If you want to learn more about how to use this endpoint please have a look at our
        [guide](https://docs.li.fi/more-integration-options/li.fi-api/requesting-a-quote).
  /v1/quote/toAmount:
    get:
      parameters:
        - example: DAI
          name: fromChain
          description: The sending chain. Can be the chain id or chain key
          schema:
            type: string
          in: query
          required: true
        - example: POL
          name: toChain
          description: The receiving chain. Can be the chain id or chain key
          schema:
            type: string
          in: query
          required: true
        - example: '0x4ecaba5870353805a9f068101a40e0f32ed605c6'
          name: fromToken
          description: The token that should be transferred. Can be the address or the symbol
          schema:
            type: string
          in: query
          required: true
        - example: '0x2791bca1f2de4661ed88a30c99a7a9449aa84174'
          name: toToken
          description: The token that should be transferred to. Can be the address or the symbol
          schema:
            type: string
          in: query
          required: true
        - example: '0x552008c0f6870c2f77e5cC1d2eb9bdff03e30Ea0'
          name: fromAddress
          description: The sending wallet address
          schema:
            type: string
          in: query
          required: true
        - example: '0x552008c0f6870c2f77e5cC1d2eb9bdff03e30Ea0'
          name: toAddress
          description: 'The receiving wallet address. If none is provided, the fromAddress will be used'
          schema:
            type: string
          in: query
          required: false
        - example: '1000000'
          name: toAmount
          description: >-
            The amount that will be received including all decimals (e.g. 1000000 for 1 USDC (6
            decimals))
          schema:
            type: string
          in: query
          required: true
        - name: order
          description: >-
            Which kind of route should be preferred **FASTEST**: This sorting criterion
            prioritizes routes with the shortest estimated execution time. Users who value speed
            and want their transactions to be completed as quickly as possible should choose the
            fastest routes. **CHEAPEST**: This criterion focuses on minimizing the cost of the
            transaction, whether in token amount or USD amount (USD amount minus gas cost). Users
            looking for the most economical option should choose the cheapest routes.
          schema:
            enum:
              - FASTEST
              - CHEAPEST
            type: string
          in: query
        - example: 0.005
          name: slippage
          description: >-
            The maximum allowed slippage for the transaction as a decimal value. 0.005 represents
            0.5%.
          schema:
            maximum: 1
            minimum: 0
            type: number
          in: query
        - example: fee-demo
          name: integrator
          description: A string containing tracking information about the integrator of the API
          schema:
            type: string
          in: query
        - example: 0.02
          name: fee
          description: >-
            The percent of the integrator's fee that is taken from every transaction. 0.02
            represents 2%. The maximum fee amount should be less than 100%.
          schema:
            maximum: 1
            exclusiveMaximum: true
            minimum: 0
            type: number
          in: query
        - name: referrer
          description: A string containing tracking information about the referrer of the integrator
          schema:
            type: string
          in: query
          required: false
        - example: 'hop,cbridge'
          name: allowBridges
          description: >-
            List of bridges that are allowed for this transaction. Retrieve the current catalog from
            the `/v1/tools` endpoint. Also values `all`, `none`, `default` and `[]` are acceptable and
            mean all tools of the current type (`all`), no tools (for `none` and `[]` cases) and
            default tool's settings on the current stage.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/QuoteBridgesEnum'
          in: query
        - name: allowExchanges
          description: >-
            List of exchanges that are allowed for this transaction. Retrieve the current catalog
            from the `/v1/tools` endpoint. Also values `all`, `none`, `default` and `[]` are acceptable
            and mean all tools of the current type (`all`), no tools (for `none` and `[]` cases) and
            default tool's settings on the current stage.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/QuoteExchangesEnum'
          in: query
        - example: relay
          name: denyBridges
          description: >-
            List of bridges that are not allowed for this transaction. Retrieve the current catalog
            from the `/v1/tools` endpoint. Also values `all`, `none`, `default` and `[]` are acceptable
            and mean all tools of the current type (`all`), no tools (for `none` and `[]` cases)
            and default tool's settings on the current stage.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/QuoteBridgesEnum'
          in: query
        - name: denyExchanges
          description: >-
            List of exchanges that are not allowed for this transaction. Retrieve the current
            catalog from the `/v1/tools` endpoint. Also values `all`, `none`, `default` and `[]` are
            acceptable and mean all tools of the current type (`all`), no tools (for `none` and `[]`
            cases) and default tool's settings on the current stage.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/QuoteExchangesEnum'
          in: query
        - name: preferBridges
          description: >-
            List of bridges that should be preferred for this transaction. Retrieve the current
            catalog from the `/v1/tools` endpoint. Also values `all`, `none`, `default` and `[]` are
            acceptable and mean all tools of the current type (`all`), no tools (for `none` and
            `[]` cases) and default tool's settings on the current stage.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/QuoteBridgesEnum'
          in: query
        - name: preferExchanges
          description: >-
            List of exchanges that should be preferred for this transaction. Retrieve the current
            catalog from the `/v1/tools` endpoint. Also values `all`, `none`, `default` and `[]` are
            acceptable and mean all tools of the current type (`all`), no tools (for `none` and `[]`
            cases) and default tool's settings on the current stage.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/QuoteExchangesEnum'
          in: query
        - name: allowDestinationCall
          description: >-
            Whether swaps or other contract calls should be allowed as part of the destination
            transaction of a bridge transfer. Separate swap transactions on the destination chain
            are not affected by this flag. By default, parameter is `true`.
          schema:
            type: boolean
          in: query
        - name: maxPriceImpact
          description: >-
            The price impact threshold above which routes are hidden. As an example, one should
            specify 0.15 (15%) to hide routes with more than 15% price impact. The default is 10%.
          schema:
            type: number
          in: query
        - name: swapStepTimingStrategies
          description: >-
            Timing setting to wait for a certain amount of swap rates. In the format
            `minWaitTime-${minWaitTimeMs}-${startingExpectedResults}-${reduceEveryMs}`. Please
            check [docs.li.fi](https://docs.li.fi) for more details.
          schema:
            type: array
            items:
              type: string
              example: minWaitTime-600-4-300
          in: query
          required: false
        - name: routeTimingStrategies
          description: >-
            Timing setting to wait for a certain amount of routes to be generated before chosing
            the best one. In the format
            `minWaitTime-${minWaitTimeMs}-${startingExpectedResults}-${reduceEveryMs}`. Please
            check [docs.li.fi](https://docs.li.fi) for more details.
          schema:
            type: array
            items:
              type: string
              example: minWaitTime-600-4-300
          in: query
          required: false
        - name: x-lifi-api-key
          description: 'Authentication header, contact support if you want to get registered.'
          schema:
            type: string
          in: header
      responses:
        '200':
          $ref: '#/components/responses/StepResponse'
        '400':
          $ref: '#/components/responses/InvalidQuoteRequest'
        '404':
          $ref: '#/components/responses/QuoteNotFound'
      summary: Get a quote for a token transfer
      description: >-
        This endpoint is an alternative to the `v1/quote` endpoint, taking a `toAmount` value rather
        than `fromAmount`. This endpoint will calculate an appropriate `fromAmount` based on the
        specified `toAmount`, and use this value to generate the quote data.

        This endpoint can be used to request a quote for a transfer of one token to another, cross
        chain or not.

        The endpoint returns a `Step` object which contains information about the estimated result as
        well as a `transactionRequest` which can directly be sent to your wallet.

        The estimated result can be found inside the `estimate`, containing the estimated required
        `fromAmount` of the sending `Token` to meet the `toAmountMin` of the receiving token, which is
        the guaranteed minimum value that the transfer will yield including slippage.

        If you want to learn more about how to use this endpoint please have a look at our
        [guide](https://docs.li.fi/more-integration-options/li.fi-api/requesting-a-quote).
  /v1/quote/contractCall:
    post:
      requestBody:
        description: >-
          Object describing what tokens to transfer and how to interact with the destination
          contract.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractCallRequest'
            examples:
              ContractCallRequestExample:
                value:
                  fromChain: BSC
                  fromToken: '0x1af3f329e8be154074d8769d1ffa4ee058b1dbc3'
                  fromAddress: '0x552008c0f6870c2f77e5cC1d2eb9bdff03e30Ea0'
                  toChain: POL
                  toToken: '0x4e78011ce80ee02d2c3e649fb657e45898257815'
                  toAmount: '300000000'
                  toContractAddress: '0xEde3bd57a04960E6469B70B4863cE1c9d9363Cb8'
                  contractOutputsToken: '0xb0c22d8d350c67420f06f48936654f567c73e8c8'
                  toContractCallData: 0x...
                  toContractGasLimit: '900000'
                  allowBridges:
                    - relay
      parameters:
        - name: x-lifi-api-key
          description: 'Authentication header, contact support if you want to get registered.'
          schema:
            type: string
          in: header
      responses:
        '200':
          $ref: '#/components/responses/ToolsResponse'
      deprecated: true
      summary: Perform a contract call across blockchains (BETA)
      description: This endpoint has been deprecated in favour of /quote/contractCalls.
  /v1/quote/contractCalls:
    post:
      requestBody:
        description: >-
          Object describing what tokens to transfer and how to interact with the destination
          contracts.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractCallsRequest'
            example:
              fromChain: 10
              fromToken: '0x4200000000000000000000000000000000000042'
              fromAddress: '0x552008c0f6870c2f77e5cC1d2eb9bdff03e30Ea0'
              toChain: 1
              toToken: ETH
              toAmount: '100000000000001'
              contractCalls:
                - fromAmount: '100000000000001'
                  fromTokenAddress: '0x0000000000000000000000000000000000000000'
                  toTokenAddress: '0xae7ab96520de3a18e5e111b5eaab095312d7fe84'
                  toContractAddress: '0xae7ab96520de3a18e5e111b5eaab095312d7fe84'
                  toContractCallData: 0x
                  toContractGasLimit: '110000'
                - fromAmount: '100000000000000'
                  fromTokenAddress: '0xae7ab96520de3a18e5e111b5eaab095312d7fe84'
                  toTokenAddress: '0x7f39c581f595b53c5cb19bd0b3f8da6c935e2ca0'
                  toContractAddress: '0x7f39c581f595b53c5cb19bd0b3f8da6c935e2ca0'
                  toFallbackAddress: '0x552008c0f6870c2f77e5cC1d2eb9bdff03e30Ea0'
                  toContractCallData: >-
                    0xea598cb000000000000000000000000000000000000000000000000000005af3107a4000
                  toContractGasLimit: '100000'
              integrator: muc-hackaton-postman
      parameters:
        - name: x-lifi-api-key
          description: The apiKey allows you to authenticate on the API.
          schema:
            type: string
          in: header
      responses:
        '200':
          $ref: '#/components/responses/ToolsResponse'
      summary: Perform multiple contract calls across blockchains (BETA)
      description: >-
        This endpoint can be used to bridge tokens, swap them and perform a number or arbitrary
        contract calls on the destination chain. You can find an example of it
        [here](https://github.com/lifinance/sdk/tree/main/examples).

        This functionality is currently in beta. While we've worked hard to ensure its stability and
        functionality, there might still be some rough edges.
  /v1/status:
    get:
      parameters:
        - example: '0xe1ffdcf09d5aa92a2d89b1b39db3f8cadf09428a296cce0d5e387595ac83d08f'
          name: txHash
          description: 'The transaction hash on the sending chain, destination chain or lifi step id'
          schema:
            type: string
          in: query
          required: true
        - example: stargateV2
          name: bridge
          description: The bridging tool used for the transfer
          schema:
            $ref: '#/components/schemas/BridgesEnum'
          in: query
          required: false
        - example: OPT
          name: fromChain
          description: The sending chain. Can be the chain id or chain key
          schema:
            type: string
          in: query
          required: false
        - example: ARB
          name: toChain
          description: The receiving chain. Can be the chain id or chain key
          schema:
            type: string
          in: query
          required: false
        - name: x-lifi-api-key
          description: 'Authentication header, contact support if you want to get registered.'
          schema:
            type: string
          in: header
      responses:
        '200':
          $ref: '#/components/responses/StatusResponse'
        '400':
          $ref: '#/components/responses/InvalidStatusRequest'
      summary: Check the status of a cross chain transfer
      description: >-
        Cross chain transfers might take a while to complete. Waiting on the transaction on the
        sending chain doesn't help here. For this reason we build a simple endpoint that let's you
        check the status of your transfer.

        Important: The endpoint returns a `200` successful response even if the transaction can not be
        found. This behavior accounts for the case that the transaction hash is valid but the
        transaction has not been mined yet.

        While non of the parameters `fromChain`, `toChain` and `bridge` are required, passing the
        `fromChain` parameter will speed up the request and is therefore encouraged.

        If you want to learn more about how to use this endpoint please have a look at our
        [guide](https://docs.li.fi/introduction/user-flows-and-examples/status-tracking).
  '/v1/integrators/{integratorId}':
    get:
      parameters:
        - example: fee-demo
          name: integratorId
          description: Id of the integrator that requests fee balances
          schema:
            type: string
          in: path
          required: true
        - name: x-lifi-api-key
          description: 'Authentication header, contact support if you want to get registered.'
          schema:
            type: string
          in: header
      responses:
        '200':
          $ref: '#/components/responses/IntegratorResponse'
        '404':
          $ref: '#/components/responses/InvalidIntegratorRequest'
      summary: Get integrator's collected fees data for all supported chains
      description: >-
        This endpoint can be used to request all integrator's collected fees data by tokens for all
        supported chains.

        The endpoint returns an `Integrator` object which contains the integrator id and an array of
        fee balances for all supported chains.
  '/v1/integrators/{integratorId}/withdraw/{chainId}':
    get:
      parameters:
        - example: fee-demo
          name: integratorId
          description: Id of the integrator that requests fee withdrawal
          schema:
            type: string
          in: path
          required: true
        - example: 137
          name: chainId
          description: Specify chainId from which funds should be withdrawn
          schema:
            type: string
          in: path
          required: true
        - example:
            - '0x0000000000000000000000000000000000000000'
          name: tokenAddresses
          description: Specify tokens from which funds should be withdraw
          schema:
            type: array
            items:
              type: string
          in: query
          required: false
        - name: x-lifi-api-key
          description: 'Authentication header, contact support if you want to get registered.'
          schema:
            type: string
          in: header
      responses:
        '200':
          $ref: '#/components/responses/IntegratorWithdrawalTransactionResponse'
        '400':
          $ref: '#/components/responses/InvalidIntegratorWithdrawalRequest'
        '404':
          $ref: '#/components/responses/InvalidIntegratorRequest'
      summary: Get transaction request for withdrawing collected integrator's fees by chain
      description: >-
        This endpoint can be used to get transaction request for withdrawing integrator's collected
        fees the specified chain. If a list of token addresses is provided, the generated transaction
        will only withdraw the specified funds.

        If there is no collected fees for the provided token's addresses, the `400` error will be
        thrown.

        The endpoint returns a `IntegratorWithdrawalTransactionResponse` object which contains the
        transaction request.
  /v1/advanced/possibilities:
    description: ''
    post:
      requestBody:
        description: >-
          Object defining preferences regarding chain, exchanges and bridges.

          Retrieve the up-to-date lists of supported exchanges and bridges from the `/v1/tools`
          endpoint.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PossibilitiesRequest'
            examples:
              PossibilitiesRequestExample:
                value:
                  chains:
                    - 100
                    - 137
                  bridges:
                    allow:
                      - relay
                      - hop
                    deny:
                      - cbridge
                    prefer:
                      - relay
                  exchanges:
                    allow:
                      - 1inch
                      - paraswap
                      - openocean
                    deny:
                      - 0x
                    prefer:
                      - 1inch
      tags:
        - advanced
      parameters:
        - name: x-lifi-api-key
          description: 'Authentication header, contact support if you want to get registered.'
          schema:
            type: string
          in: header
          required: false
      responses:
        '200':
          $ref: '#/components/responses/PossibilitiesResponse'
      deprecated: true
      summary: 'Get information about available services, chains and tokens'
      description: >-
        Get a set of current possibilities based on a request that specifies which chains, exchanges
        and bridges are preferred or unwanted.

        **Attention**: This request is more complex and intended to be used via our [JavaScript
        SDK](https://docs.li.fi/integrate-li.fi-js-sdk/install-li.fi-sdk).
  /v1/advanced/routes:
    post:
      requestBody:
        description: >-
          The request object describes a desired any-to-any transfer and contains all information
          necessary to calculate the most efficient routes.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoutesRequest'
            examples:
              RoutesRequestExample:
                value:
                  fromChainId: 100
                  fromAmount: '1000000000000000000'
                  fromTokenAddress: '0x0000000000000000000000000000000000000000'
                  toChainId: 137
                  toTokenAddress: '0x0000000000000000000000000000000000000000'
                  options:
                    integrator: fee-demo
                    referrer: '0x552008c0f6870c2f77e5cC1d2eb9bdff03e30Ea0'
                    slippage: 0.003
                    fee: 0.02
                    bridges:
                      allow:
                        - relay
                    exchanges:
                      allow:
                        - 1inch
                        - openocean
                    allowSwitchChain: true
                    order: CHEAPEST
                    maxPriceImpact: 0.1
        required: true
      tags:
        - advanced
      parameters:
        - name: x-lifi-api-key
          description: 'Authentication header, contact support if you want to get registered.'
          schema:
            type: string
          in: header
      responses:
        '200':
          $ref: '#/components/responses/RoutesResponse'
        '400':
          $ref: '#/components/responses/InvalidRoutesRequest'
        '404':
          $ref: '#/components/responses/InvalidRoutesNotFoundRequest'
      summary: Get a set of routes for a request that describes a transfer of tokens
      description: >-
        In order to execute any transfer, you must first request possible `Routes`. From the result
        set a `Route` can be selected and executed by retrieving the transaction for every included
        `Step` using the `/steps/transaction` endpoint.

        **Attention**: This request is more complex and intended to be used via our [JavaScript
        SDK](https://docs.li.fi/integrate-li.fi-js-sdk/install-li.fi-sdk).
  /v1/advanced/stepTransaction:
    post:
      requestBody:
        description: The step object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Step'
            examples:
              StepRequestExample:
                value:
                  id: a8dc011a-f52d-4492-9e99-21de64b5453a
                  type: lifi
                  tool: 1inch
                  toolDetails:
                    key: 1inch
                    logoURI: >-
                      https://raw.githubusercontent.com/lifinance/types/main/src/assets/icons/exchanges/oneinch.svg
                    name: 1inch
                  action:
                    fromChainId: 100
                    toChainId: 100
                    fromToken:
                      address: '0x0000000000000000000000000000000000000000'
                      symbol: xDai
                      decimals: 18
                      chainId: 100
                      name: xDai
                      coinKey: xDai
                      priceUSD: '1'
                      logoURI: >-
                        https://static.debank.com/image/xdai_token/logo_url/xdai/1207e67652b691ef3bfe04f89f4b5362.png
                    toToken:
                      name: Minerva Wallet SuperToken
                      symbol: MIVA
                      coinKey: MIVA
                      decimals: 18
                      chainId: 100
                      priceUSD: '1'
                      logoURI: 'https://minerva.digital/i/MIVA-Token_200x200.png'
                      address: '0x63e62989d9eb2d37dfdb1f93a22f063635b07d51'
                    fromAmount: '1000000000000000000'
                    slippage: 0.003
                    fromAddress: '0x552008c0f6870c2f77e5cC1d2eb9bdff03e30Ea0'
                    toAddress: '0x552008c0f6870c2f77e5cC1d2eb9bdff03e30Ea0'
                  estimate:
                    fromAmount: '1000000000000000000'
                    toAmount: '21922914496086353975'
                    toAmountMin: '21265227061203763356'
                    tool: 1inch
                    executionDuration: 30
                    approvalAddress: '0x1111111254fb6c44bac0bed2854e76f90643097d'
                    feeCosts: [ ]
                    gasCosts:
                      - type: SEND
                        price: '1'
                        estimate: '252364'
                        limit: '315455'
                        amount: '252364'
                        amountUSD: '0.00'
                        token:
                          address: '0x0000000000000000000000000000000000000000'
                          symbol: xDai
                          decimals: 18
                          chainId: 100
                          name: xDai
                          coinKey: xDai
                          priceUSD: '1'
                          logoURI: >-
                            https://static.debank.com/image/xdai_token/logo_url/xdai/1207e67652b691ef3bfe04f89f4b5362.png
                  integrator: fee-demo
                  includedSteps:
                    - id: a8dc011a-f52d-4492-9e99-21de64b5453a
                      type: swap
                      tool: 1inch
                      toolDetails:
                        key: 1inch
                        logoURI: >-
                          https://raw.githubusercontent.com/lifinance/types/main/src/assets/icons/exchanges/oneinch.svg
                        name: 1inch
                      action:
                        fromChainId: 100
                        toChainId: 100
                        fromToken:
                          address: '0x0000000000000000000000000000000000000000'
                          symbol: xDai
                          decimals: 18
                          chainId: 100
                          name: xDai
                          coinKey: xDai
                          priceUSD: '1'
                          logoURI: >-
                            https://static.debank.com/image/xdai_token/logo_url/xdai/1207e67652b691ef3bfe04f89f4b5362.png
                        toToken:
                          name: Minerva Wallet SuperToken
                          symbol: MIVA
                          coinKey: MIVA
                          decimals: 18
                          chainId: 100
                          priceUSD: '1'
                          logoURI: 'https://minerva.digital/i/MIVA-Token_200x200.png'
                          address: '0x63e62989d9eb2d37dfdb1f93a22f063635b07d51'
                        fromAmount: '1000000000000000000'
                        slippage: 0.003
                        fromAddress: '0x552008c0f6870c2f77e5cC1d2eb9bdff03e30Ea0'
                        toAddress: '0x552008c0f6870c2f77e5cC1d2eb9bdff03e30Ea0'
                      estimate:
                        fromAmount: '1000000000000000000'
                        toAmount: '21922914496086353975'
                        toAmountMin: '21265227061203763356'
                        tool: 1inch
                        executionDuration: 30
                        approvalAddress: '0x1111111254fb6c44bac0bed2854e76f90643097d'
                        feeCosts: [ ]
                        gasCosts:
                          - type: SEND
                            price: '1'
                            estimate: '252364'
                            limit: '315455'
                            amount: '252364'
                            amountUSD: '0.00'
                            token:
                              address: '0x0000000000000000000000000000000000000000'
                              symbol: xDai
                              decimals: 18
                              chainId: 100
                              name: xDai
                              coinKey: xDai
                              priceUSD: '1'
                              logoURI: >-
                                https://static.debank.com/image/xdai_token/logo_url/xdai/1207e67652b691ef3bfe04f89f4b5362.png
        required: true
      tags:
        - advanced
      parameters:
        - name: x-lifi-api-key
          description: 'Authentication header, contact support if you want to get registered.'
          schema:
            type: string
          in: header
        - name: skipSimulation
          description: >-
            Parameter to skip transaction simulation. The quote will be returned faster but the
            transaction gas limit won't be accurate.
          schema:
            type: boolean
          in: query
          required: false
        - name: mayanNonEvmPermitSignature
          description: 'Mayan specific option to bridge from non-EVM chain to Hyperliquid'
          schema:
            type: boolean
          in: query
          required: false
      responses:
        '200':
          $ref: '#/components/responses/StepResponse'
        '400':
          $ref: '#/components/responses/InvalidStepRequest'
      summary: Populate a step with transaction data
      description: >-
        This endpoint expects a full `Step` object which usually is retrieved by calling the `/advanced/routes`
        endpoint and selecting the most suitable `Route`. Afterwards the transaction for every
        required `Step` can be retrieved using this endpoint.

        **Attention**: This request is more complex and intended to be used via our [JavaScript
        SDK](https://docs.li.fi/integrate-li.fi-js-sdk/install-li.fi-sdk).
  /v1/chains:
    get:
      parameters:
        - example: 'EVM,SVM'
          name: chainTypes
          description: Restrict the resulting tokens to the given chainTypes.
          schema:
            type: string
          in: query
          required: false
        - name: x-lifi-api-key
          description: The apiKey allows you to authenticate on the API.
          schema:
            type: string
          in: header
      responses:
        '200':
          $ref: '#/components/responses/ChainsResponse'
      summary: Get information about all currently supported chains
      description: >-
        If you want to learn more about how to use this endpoint please have a look at our
        [guide](https://docs.li.fi/more-integration-options/li.fi-api/requesting-supported-chains).
  /v1/connections:
    get:
      parameters:
        - example: POL
          name: fromChain
          description: The chain that should be the start of the possible connections.
          schema:
            type: string
          in: query
          required: false
        - name: toChain
          description: The chain that should be the end of the possible connections.
          schema:
            type: string
          in: query
          required: false
        - example: DAI
          name: fromToken
          description: Only return connections starting with this token.
          schema:
            type: string
          in: query
          required: false
        - name: toToken
          description: Only return connections ending with this token.
          schema:
            type: string
          in: query
          required: false
        - example: 'EVM,SVM'
          name: chainTypes
          description: Restrict the resulting tokens to the given chainTypes.
          schema:
            type: string
          in: query
          required: false
        - name: allowBridges
          description: >-
            List of bridges that are allowed for this transaction. Retrieve the current catalog from
            the `/v1/tools` endpoint.
          schema:
            type: array
            items:
              type: string
          in: query
          required: false
        - name: denyBridges
          description: >-
            List of bridges that are not allowed for this transaction. Retrieve the current catalog
            from the `/v1/tools` endpoint.
          schema:
            type: array
            items:
              type: string
          in: query
          required: false
        - name: preferBridges
          description: >-
            List of bridges that should be preferred for this transaction. Retrieve the current
            catalog from the `/v1/tools` endpoint.
          schema:
            type: array
            items:
              type: string
          in: query
          required: false
        - name: allowExchanges
          description: >-
            List of exchanges that are allowed for this transaction. Retrieve the current catalog
            from the `/v1/tools` endpoint.
          schema:
            type: array
            items:
              type: string
          in: query
          required: false
        - name: denyExchanges
          description: >-
            List of exchanges that are not allowed for this transaction. Retrieve the current
            catalog from the `/v1/tools` endpoint.
          schema:
            type: array
            items:
              type: string
          in: query
          required: false
        - name: preferExchanges
          description: >-
            List of exchanges that should be preferred for this transaction. Retrieve the current
            catalog from the `/v1/tools` endpoint.
          schema:
            type: array
            items:
              type: string
          in: query
          required: false
        - name: allowSwitchChain
          description: Whether connections that require chain switch should be included in the response.
          schema:
            default: true
            type: boolean
          in: query
          required: false
        - name: allowDestinationCall
          description: Whether connections that includes destination call should be included in the response.
          schema:
            default: true
            type: boolean
          in: query
          required: false
        - name: x-lifi-api-key
          description: 'Authentication header, contact support if you want to get registered.'
          schema:
            type: string
          in: header
      responses:
        '200':
          $ref: '#/components/responses/ConnectionsResponse'
      summary: Returns all possible connections based on a from- or toChain.
      description: >-
        This endpoint gives information about all possible tranfers between chains.

        Since the result can be very large it is required to filter by at least a chain, a token, a
        bridge, or an exchange.

        Information about which chains and tokens are supported can be taken from the response of the
        /v1/chains endpoint.

        Information about which bridges and exchanges are supported can be taken from the response of
        the /v1/tools endpoint.
  /v1/tools:
    get:
      parameters:
        - name: chains
          description: The ids of the chains that should be taken into consideration.
          schema:
            type: array
            items:
              oneOf:
                - type: string
                  example:
                    - pol
                    - eth
                - type: integer
                  example:
                    - 1
                    - 56
          in: query
        - name: x-lifi-api-key
          description: 'Authentication header, contact support if you want to get registered.'
          schema:
            type: string
          in: header
      responses:
        '200':
          $ref: '#/components/responses/ToolsResponse'
      summary: Get available bridges and exchanges
      description: >-
        This endpoint can be used to get information about the bridges and exchanges available trough
        our service
  /v1/gas/prices:
    get:
      tags:
        - gas
      parameters:
        - name: x-lifi-api-key
          description: 'Authentication header, contact support if you want to get registered.'
          schema:
            type: string
          in: header
      responses:
        '200':
          $ref: '#/components/responses/GasPricesResponse'
      summary: Get gas prices for enabled chains
      description: >-
        This endpoint can be used to get the most recent gas prices for the enabled chains in the
        server.
  '/v1/gas/prices/{chainId}':
    get:
      tags:
        - gas
      parameters:
        - example: 137
          name: chainId
          description: ChaindId from which gas prices should be shown
          schema:
            type: string
          in: path
          required: true
        - name: x-lifi-api-key
          description: 'Authentication header, contact support if you want to get registered.'
          schema:
            type: string
          in: header
      responses:
        '200':
          $ref: '#/components/responses/GasPricesResponse'
        '400':
          $ref: '#/components/responses/InvalidRoutesRequest'
      summary: Get gas price for the specified chainId
      description: This endpoint can be used to get the most recent gas prices for the supplied chainId.
  /v1/gas/status:
    get:
      parameters:
        - example: '0x74546ce8aac58d33c212474293dcfeeadecef115847da75131a2ff6692e03b96'
          name: txHash
          description: The transaction hash that started the gas refilling process
          schema:
            type: string
          in: query
          required: true
        - name: x-lifi-api-key
          description: 'Authentication header, contact support if you want to get registered.'
          schema:
            type: string
          in: header
      responses:
        '200':
          $ref: '#/components/responses/LIFuelStatusResponse'
      summary: Get status information about a lifuel transaction
  /v1/gas/refetch:
    get:
      parameters:
        - example: '0x74546ce8aac58d33c212474293dcfeeadecef115847da75131a2ff6692e03b96'
          name: txHash
          description: The transaction hash that started the gas refilling process
          schema:
            type: string
          in: query
          required: true
        - example: POL
          name: chainId
          description: The chain where the deposit was originally made
          schema:
            type: string
          in: query
          required: true
        - name: x-lifi-api-key
          description: 'Authentication header, contact support if you want to get registered.'
          schema:
            type: string
          in: header
      responses:
        '200':
          $ref: '#/components/responses/LIFuelStatusResponse'
      deprecated: true
      summary: >-
        In case a transaction was missed by a relayer, this endpoint can be used to force a tx to be
        re-fetched.
  '/v1/analytics/wallets/{wallet_address}':
    get:
      parameters:
        - name: wallet_address
          description: The address of the wallet
          schema:
            type: string
          in: path
          required: true
        - name: integrator
          description: Filter the transactions by integrator
          schema:
            type: string
          in: query
          required: true
        - name: fromTimestamp
          description: >-
            A unix timestamp in seconds. No transaction older than this timestamp will be
            returned. If no value is passed, then the default value will be 30 days prior the
            current date.
          schema:
            type: integer
          in: query
        - name: toTimestamp
          description: >-
            A unix timestamp in seconds. No transaction newer than this timestamp will be
            returned.
          schema:
            type: integer
          in: query
        - name: x-lifi-api-key
          description: 'Authentication header, contact support if you want to get registered.'
          schema:
            type: string
          in: header
      responses:
        '200':
          $ref: '#/components/responses/WalletAnalyticsResponse'
      deprecated: true
      summary: Get all transactions for a wallet
      description: This endpoint can be used to get all transactions for a wallet.
  '/v1/gas/suggestion/{chain}':
    get:
      parameters:
        - example: 137
          name: chain
          description: Chain from which gas prices should be shown (can be a chain id or a chain key)
          schema:
            type: string
          in: path
          required: true
        - example: 100
          name: fromChain
          description: >-
            If `fromChain` and `fromToken` are specified, the result will contain information
            about how much `fromToken` amount the user has to send to receive the suggested gas
            amount on the requested chain.
          schema:
            type: string
          in: query
        - example: xDai
          name: fromToken
          description: >-
            If `fromChain` and `fromToken` are specified, the result will contain information
            about how much `fromToken` amount the user has to send to receive the suggested gas
            amount on the requested chain.
          schema:
            type: string
          in: query
        - name: x-lifi-api-key
          description: 'Authentication header, contact support if you want to get registered.'
          schema:
            type: string
          in: header
      responses:
        '200':
          $ref: '#/components/responses/GasSuggestionResponse'
      summary: Get a gas suggestion for the specified chain
      description: >-
        Endpoint to retrieve a suggestion on how much gas is needed on the requested chain. The
        suggestion is based on the average price of 10 approvals and 10 uniswap based swaps via LI.FI
        on the specified chain.

        If `fromChain` and `fromToken` are specified, the result will contain information about how
        much `fromToken` amount the user has to send to receive the suggested gas amount on the
        requested chain.
  /v1/calldata/parse:
    get:
      parameters:
        - name: x-lifi-api-key
          description: 'Authentication header, contact support if you want to get registered.'
          schema:
            type: string
          in: header
      responses:
        '200':
          $ref: '#/components/responses/ParsedCallDataResponse'
      summary: Parse transaction call data (BETA)
      description: >-
        This endpoint allows to pass transaction call data. It will then parse the call data based on
        known and on-chain ABIs to provide a JSON overview of the internal transaction information.
    parameters:
      - name: chainId
        description: The chainId that the transaction is built for (or has been sent on)
        schema:
          type: string
        in: query
        required: false
      - name: callData
        description: The call data to parse
        schema:
          type: string
        in: query
        required: true
  /v1/analytics/transfers:
    get:
      parameters:
        - name: integrator
          description: The integrator string to filter by
          schema:
            type: string
          in: query
        - name: wallet
          description: 'The sending OR receiving wallet address '
          schema:
            type: string
          in: query
        - name: status
          description: >-
            The status of the transfers. Possible values are `ALL`, `DONE`, `PENDING`, and
            `FAILED`. The default is `DONE`
          schema:
            type: string
          in: query
        - name: fromTimestamp
          description: The oldest timestamp that should be taken into consideration. Defaults to 30 days ago
          schema:
            type: number
          in: query
        - name: toTimestamp
          description: The newest timestamp that should be taken into consideration. Defaults to now
          schema:
            type: number
          in: query
        - name: fromChain
          description: The chain where the transfer originates from.
          schema:
            type: string
          in: query
        - name: toChain
          description: The chain where the transfer ends.
          schema:
            type: string
          in: query
        - name: fromToken
          description: >-
            The token transferred from the originating chain. To use this parameter `fromChain`
            must be set.
          schema:
            type: string
          in: query
        - name: toToken
          description: >-
            The token received on the destination chain. To use this parameter `toChain` must be
            set.
          schema:
            type: string
          in: query
      responses:
        '200':
          $ref: '#/components/responses/TransfersResponse'
      summary: Get a list of filtered transfers
      description: >-
        This endpoint can be used to retrieve a list of transfers filtered by certain properties.
        Returns a maximum of 1000 transfers.
  /v2/analytics/transfers:
    get:
      parameters:
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationNext'
        - $ref: '#/components/parameters/paginationPrevious'
        - name: integrator
          description: >-
            Either a single integrator string, or an array of unique integrator strings to filter
            transfers by.
          schema:
            oneOf:
              - type: string
              - type: array
                items:
                  type: string
          in: query
        - name: wallet
          description: 'The sending OR receiving wallet address '
          schema:
            type: string
          in: query
        - name: status
          description: >-
            The status of the transfers. Possible values are `ALL`, `DONE`, `PENDING`, and
            `FAILED`. The default is `DONE`
          schema:
            type: string
          in: query
        - name: fromTimestamp
          description: The oldest timestamp that should be taken into consideration. Defaults to 30 days ago
          schema:
            type: number
          in: query
        - name: toTimestamp
          description: The newest timestamp that should be taken into consideration. Defaults to now
          schema:
            type: number
          in: query
        - name: fromChain
          description: The chain where the transfer originates from.
          schema:
            type: string
          in: query
        - name: toChain
          description: The chain where the transfer ends.
          schema:
            type: string
          in: query
        - name: fromToken
          description: >-
            The token transferred from the originating chain. To use this parameter `fromChain`
            must be set.
          schema:
            type: string
          in: query
        - name: toToken
          description: >-
            The token received on the destination chain. To use this parameter `toChain` must be
            set.
          schema:
            type: string
          in: query
      responses:
        '200':
          $ref: '#/components/responses/TransfersV2Response'
      summary: Get a paginated list of filtered transfers
      description: >-
        A paginated version of the `GET /v1/analytics/transfers endpoint`. This endpoint can be used
        to retrieve a list of transfers filtered by certain properties.
  /v1/analytics/transfers/summary:
    get:
      parameters:
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationNext'
        - $ref: '#/components/parameters/paginationPrevious'
        - name: fromTimestamp
          description: >
            A Unix timestamp in seconds marking the start of the query period, inclusive.
            Transactions older than this timestamp will not be included in the summary.
          schema:
            type: string
          in: query
          required: true
        - name: toTimestamp
          description: >
            A Unix timestamp in seconds marking the end of the query period, inclusive.
            Transactions after this timestamp will not be included in the summary. **The maximum
            range supported by the endpoint is 30 days.**
          schema:
            type: string
          in: query
          required: true
        - name: toChain
          description: >
            The ID, or key of the chain on the receiving side of the transfer. This parameter
            filters the summary to include only transfers received on the specified chain.
          schema:
            type: string
          in: query
          required: true
        - name: toToken
          description: >
            The address, or symbol of the token received in the transfers. This parameter filters
            the summary to include only transfers involving the specified token on the receiving
            chain.
          schema:
            type: number
          in: query
          required: true
        - name: fromChain
          description: >
            The ID, or key of the chain on the sending side of the transfers. This parameter
            filters the summary to include only transfers sent from the specified chain.
          schema:
            type: number
          in: query
          required: false
        - name: integrator
          description: >
            The integrator string to filter transfers by. This parameter filters the summary to
            include only transfers for the given integrator.
          schema:
            type: string
          in: query
          required: false
      responses:
        '200':
          $ref: '#/components/responses/TransfersSummaryResponse'
      summary: 'Get the total amount of a token received on a specific chain, for cross-chain transfers.'
      description: >-
        Calculates and returns the total received token amount per wallet address, per sending chain,
        within a specified time range, for a given receiving chain and receiving token. Only
        aggregates cross-chain transfers, meaning transfers with distinct sending and receiving
        chains.
  '/v1/relayer/status/{taskId}':
    get:
      responses:
        '200':
          $ref: '#/components/responses/RelayerStatusResponse'
      description: >-
        Cross chain relay transfers might take a while to complete. Waiting on the transaction on the
        sending chain doesn't help here. For this reason we build a simple endpoint that let's you
        check the status of your transfer.

        Important: The endpoint returns a `200` successful response even if the transaction can not be
        found. This behavior accounts for the case that the transaction hash is valid but the
        transaction has not been mined yet.

        While non of the parameters `fromChain`, `toChain` and `bridge` are required, passing the
        `fromChain` parameter will speed up the request and is therefore encouraged.

        If you want to learn more about how to use this endpoint please have a look at our
        [guide](https://docs.li.fi/introduction/user-flows-and-examples/status-tracking).
  /v1/relayer/quote:
    get:
      parameters:
        - example: DAI
          name: fromChain
          description: The sending chain. Can be the chain id or chain key
          schema:
            type: string
          in: query
          required: true
        - example: POL
          name: toChain
          description: The receiving chain. Can be the chain id or chain key
          schema:
            type: string
          in: query
          required: true
        - example: '0x4ecaba5870353805a9f068101a40e0f32ed605c6'
          name: fromToken
          description: The token that should be transferred. Can be the address or the symbol
          schema:
            type: string
          in: query
          required: true
        - example: '0x2791bca1f2de4661ed88a30c99a7a9449aa84174'
          name: toToken
          description: The token that should be transferred to. Can be the address or the symbol
          schema:
            type: string
          in: query
          required: true
        - example: '0x552008c0f6870c2f77e5cC1d2eb9bdff03e30Ea0'
          name: fromAddress
          description: The sending wallet address
          schema:
            type: string
          in: query
          required: true
        - example: '0x552008c0f6870c2f77e5cC1d2eb9bdff03e30Ea0'
          name: toAddress
          description: 'The receiving wallet address. If none is provided, the fromAddress will be used'
          schema:
            type: string
          in: query
          required: false
        - example: '1000000'
          name: fromAmount
          description: >-
            The amount that should be sent including all decimals (e.g. 1000000 for 1 USDC (6
            decimals))
          schema:
            type: string
          in: query
          required: true
        - name: order
          description: >-
            Which kind of route should be preferred **FASTEST**: This sorting criterion
            prioritizes routes with the shortest estimated execution time. Users who value speed
            and want their transactions to be completed as quickly as possible should choose the
            fastest routes. **CHEAPEST**: This criterion focuses on minimizing the cost of the
            transaction, whether in token amount or USD amount (USD amount minus gas cost). Users
            looking for the most economical option should choose the cheapest routes.
          schema:
            enum:
              - FASTEST
              - CHEAPEST
            type: string
          in: query
        - example: 0.005
          name: slippage
          description: >-
            The maximum allowed slippage for the transaction as a decimal value. 0.005 represents
            0.5%.
          schema:
            maximum: 1
            minimum: 0
            type: number
          in: query
        - example: fee-demo
          name: integrator
          description: A string containing tracking information about the integrator of the API
          schema:
            type: string
          in: query
        - example: 0.02
          name: fee
          description: >-
            The percent of the integrator's fee that is taken from every transaction. 0.02
            represents 2%. The maximum fee amount should be less than 100%.
          schema:
            maximum: 1
            exclusiveMaximum: true
            minimum: 0
            type: number
          in: query
        - name: referrer
          description: A string containing tracking information about the referrer of the integrator
          schema:
            type: string
          in: query
          required: false
        - example: 'hop,cbridge'
          name: allowBridges
          description: >-
            List of bridges that are allowed for this transaction. Retrieve the current catalog from
            the `/v1/tools` endpoint. Also values `all`, `none`, `default` and `[]` are acceptable and
            mean all tools of the current type (`all`), no tools (for `none` and `[]` cases) and
            default tool's settings on the current stage.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/QuoteBridgesEnum'
          in: query
        - name: allowExchanges
          description: >-
            List of exchanges that are allowed for this transaction. Retrieve the current catalog
            from the `/v1/tools` endpoint. Also values `all`, `none`, `default` and `[]` are acceptable
            and mean all tools of the current type (`all`), no tools (for `none` and `[]` cases) and
            default tool's settings on the current stage.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/QuoteExchangesEnum'
          in: query
        - example: relay
          name: denyBridges
          description: >-
            List of bridges that are not allowed for this transaction. Retrieve the current catalog
            from the `/v1/tools` endpoint. Also values `all`, `none`, `default` and `[]` are acceptable
            and mean all tools of the current type (`all`), no tools (for `none` and `[]` cases)
            and default tool's settings on the current stage.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/QuoteBridgesEnum'
          in: query
        - name: denyExchanges
          description: >-
            List of exchanges that are not allowed for this transaction. Retrieve the current
            catalog from the `/v1/tools` endpoint. Also values `all`, `none`, `default` and `[]` are
            acceptable and mean all tools of the current type (`all`), no tools (for `none` and `[]`
            cases) and default tool's settings on the current stage.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/QuoteExchangesEnum'
          in: query
        - name: preferBridges
          description: >-
            List of bridges that should be preferred for this transaction. Retrieve the current
            catalog from the `/v1/tools` endpoint. Also values `all`, `none`, `default` and `[]` are
            acceptable and mean all tools of the current type (`all`), no tools (for `none` and
            `[]` cases) and default tool's settings on the current stage.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/QuoteBridgesEnum'
          in: query
        - name: preferExchanges
          description: >-
            List of exchanges that should be preferred for this transaction. Retrieve the current
            catalog from the `/v1/tools` endpoint. Also values `all`, `none`, `default` and `[]` are
            acceptable and mean all tools of the current type (`all`), no tools (for `none` and `[]`
            cases) and default tool's settings on the current stage.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/QuoteExchangesEnum'
          in: query
        - name: allowDestinationCall
          description: >-
            Whether swaps or other contract calls should be allowed as part of the destination
            transaction of a bridge transfer. Separate swap transactions on the destination chain
            are not affected by this flag. By default, parameter is `true`.
          schema:
            type: boolean
          in: query
        - name: fromAmountForGas
          description: The amount of the token to convert to gas on the destination side.
          schema:
            type: string
          in: query
          required: false
        - name: maxPriceImpact
          description: >-
            The price impact threshold above which routes are hidden. As an example, one should
            specify 0.15 (15%) to hide routes with more than 15% price impact. The default is 10%.
          schema:
            type: number
          in: query
        - name: swapStepTimingStrategies
          description: >-
            Timing setting to wait for a certain amount of swap rates. In the format
            `minWaitTime-${minWaitTimeMs}-${startingExpectedResults}-${reduceEveryMs}`. Please
            check [docs.li.fi](https://docs.li.fi) for more details.
          schema:
            type: array
            items:
              type: string
              example: minWaitTime-600-4-300
          in: query
          required: false
        - name: routeTimingStrategies
          description: >-
            Timing setting to wait for a certain amount of routes to be generated before chosing
            the best one. In the format
            `minWaitTime-${minWaitTimeMs}-${startingExpectedResults}-${reduceEveryMs}`. Please
            check [docs.li.fi](https://docs.li.fi) for more details.
          schema:
            type: array
            items:
              type: string
              example: minWaitTime-600-4-300
          in: query
          required: false
        - name: skipSimulation
          description: >-
            Parameter to skip transaction simulation. The quote will be returned faster but the
            transaction gas limit won't be accurate.
          schema:
            type: boolean
          in: query
          required: false
        - name: x-lifi-api-key
          description: 'Authentication header, contact support if you want to get registered.'
          schema:
            type: string
          in: header
      responses:
        '200':
          $ref: '#/components/responses/RelayerQuoteResponse'
        '400':
          $ref: '#/components/responses/InvalidQuoteRequest'
        '404':
          $ref: '#/components/responses/QuoteNotFound'
      summary: Get a quote for a relayed token transfer
      description: >-
        This endpoint can be used to request a quote for a transfer of one token to another, cross
        chain or not.

        The endpoint returns a `Step` object which contains information about the estimated result as
        well as a `transactionRequest` which can directly be sent to your wallet.

        The estimated result can be found inside the `estimate`, containing the estimated `toAmount`
        of the requested `Token` and the `toAmountMin`, which is the guaranteed minimum value that the
        transfer will yield including slippage.

        If you want to learn more about how to use this endpoint please have a look at our
        [guide](https://docs.li.fi/more-integration-options/li.fi-api/requesting-a-quote).
  /v1/relayer/relay:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelayRequestSchema'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/RelayResponse'
      summary: Send a signed permit2 transaction to be dispatched by a transaction relayer
      description: Submits a gasless transaction to the relayer for execution on-chain.
components:
  schemas:
    UnavailableRoutes:
      type: object
      properties:
        filteredOut:
          description: An object containing information about routes that were intentionally filtered out.
          type: array
          items:
            properties:
              overallPath:
                description: The complete representation of the attempted route.
                type: string
                example: '100:USDC-hop-137:USDC-137:USDC~137:SUSHI'
              reason:
                description: Out best attempt at describing the failure.
                type: string
        failed:
          description: An object containing information about failed routes.
          type: array
          items:
            properties:
              overallPath:
                description: The complete representation of the attempted route.
                type: string
                example: '100:USDC-hop-137:USDC-137:USDC~137:SUSHI'
              subpaths:
                description: An object with all subpaths that generated one or more errors
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/ToolError'
    LIFuelStatusStateEnum:
      enum:
        - NOT_FOUND
        - PENDING
        - DONE
    TxInfo:
      type: object
      properties:
        txHash:
          type: string
          example: '0x74546ce8aac58d33c212474293dcfeeadecef115847da75131a2ff6692e03b96'
        txLink:
          type: string
          example: >-
            https://polygonscan.com/tx/0x74546ce8aac58d33c212474293dcfeeadecef115847da75131a2ff6692e03b96
        amount:
          description: The amount of token that will be / has been relayed
          type: string
          example: '10000'
        token:
          $ref: '#/components/schemas/Token'
        chainId:
          type: number
          example: 137
        block:
          type: number
          example: 39397739
    LIFuelStatus:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/LIFuelStatusStateEnum'
        sending:
          $ref: '#/components/schemas/TxInfo'
        receiving:
          $ref: '#/components/schemas/TxInfo'
    GasPrice:
      type: object
      properties:
        standard:
          type: number
        fast:
          type: number
        fastest:
          type: number
        lastUpdated:
          type: number
    Tools:
      type: object
      properties:
        exchanges:
          type: array
          items:
            $ref: '#/components/schemas/Exchange'
        bridges:
          type: array
          items:
            $ref: '#/components/schemas/Bridge'
    Exchange:
      type: object
      properties:
        key:
          $ref: '#/components/schemas/ExchangesEnum'
        name:
          description: The common name of the tool
          type: string
          example: 0x
        logoURI:
          description: The logo of the tool
          type: string
          example: >-
            https://raw.githubusercontent.com/lifinance/types/main/src/assets/icons/exchanges/zerox.svg
        supportedChains:
          description: The chains which are supported on this exchange
          type: string
          example:
            - '1'
            - '137'
            - '56'
    Bridge:
      type: object
      properties:
        key:
          $ref: '#/components/schemas/BridgesEnum'
        name:
          description: The common name of the tool
          type: string
          example: Connext
        logoURI:
          description: The logo of the tool
          type: string
          example: >-
            https://raw.githubusercontent.com/lifinance/types/main/src/assets/icons/bridges/relay.svg
        supportedChains:
          type: array
          items:
            $ref: '#/components/schemas/SupportedChains'
    SupportedChains:
      type: object
      properties:
        fromChainId:
          description: Supported `from` chain
          type: string
          example: 137
        toChainId:
          description: Supported `to` chain
          type: string
          example: 1
    BridgesEnum:
      type: string
      description: >-
        Identifier for a bridge tool. Retrieve the latest bridge keys from the
        `/v1/tools` endpoint. Keywords such as `all`, `none`, `default`, and `[]`
        are also supported where applicable.
    ExchangesEnum:
      type: string
      description: >-
        Identifier for an exchange tool. Retrieve the latest exchange keys from
        the `/v1/tools` endpoint. Keywords such as `all`, `none`, `default`, and
        `[]` are also supported where applicable.
    QuoteBridgesEnum:
      type: string
      description: >-
        Bridge tool identifier or keyword. Retrieve current bridge keys from the
        `/v1/tools` endpoint. Supported keywords: `all`, `none`, `default`, `[]`.
    QuoteExchangesEnum:
      type: string
      description: >-
        Exchange tool identifier or keyword. Retrieve current exchange keys from
        the `/v1/tools` endpoint. Supported keywords: `all`, `none`, `default`,
        `[]`.
    ContractCallsRequest:
      title: Root type for ContractCallsRequest
      description: Object defining instructions on how to perform multiple cross-chain/same-chain calls
      required:
        - fromChain
        - fromToken
        - fromAddress
        - toChain
        - toToken
        - toAmount
        - contractCalls
      type: object
      properties:
        fromChain:
          description: The sending chain. Can be the chain id or chain key
          type: number
        fromToken:
          description: The token that should be transferred. Can be the address or the symbol
          type: string
        fromAddress:
          description: The wallet that will send the transaction and contains the starting token
          type: string
        toChain:
          description: The receiving chain. Can be the chain id or chain key
          type: number
        toToken:
          description: >-
            The token required to perform the contract interation (can be something to stake,
            donate or to be used as payment)
          type: string
        toAmount:
          description: >-
            The amount of token required by the contract interaction. The LI.FI API will try and
            generate a quote that guarantees at least that amount on the destination chain.
          type: string
        contractCalls:
          type: array
          items:
            $ref: '#/components/schemas/ContractCall'
        toFallbackAddress:
          description: >-
            If the call fails, use this address to send the bridged tokens to. If none is
            specified, the sending address will be used.
          type: string
        contractOutputsToken:
          description: >-
            Some contract interactions will output a token. This is the case in things like
            staking. Omit this parameter if no token should be returned to the user.
          type: string
        slippage:
          format: double
          description: >-
            The maximum allowed slippage for the transaction as a decimal value. 0.005 represents
            0.5%.
          maximum: 1
          minimum: 0
          type: number
        integrator:
          description: A string containing tracking information about the integrator of the API
          type: string
        referrer:
          description: A string containing tracking information about the referrer of the integrator
          type: string
        allowBridges:
          description: >-
            List of bridges that are allowed for this transaction. Retrieve the current catalog from
            the `/v1/tools` endpoint.
          type: array
          items:
            type: string
        denyBridges:
          description: >-
            List of bridges that are not allowed for this transaction. Retrieve the current catalog
            from the `/v1/tools` endpoint.
          type: array
          items:
            type: string
        preferBridges:
          description: >-
            List of bridges that should be preferred for this transaction. Retrieve the current
            catalog from the `/v1/tools` endpoint.
          type: array
          items:
            type: string
        allowExchanges:
          description: >-
            List of exchanges that are allowed for this transaction. Retrieve the current catalog
            from the `/v1/tools` endpoint.
          type: array
          items:
            type: string
        denyExchanges:
          description: >-
            List of exchanges that are not allowed for this transaction. Retrieve the current
            catalog from the `/v1/tools` endpoint.
          type: array
          items:
            type: string
        preferExchanges:
          description: >-
            List of exchanges that should be preferred for this transaction. Retrieve the current
            catalog from the `/v1/tools` endpoint.
          type: array
          items:
            type: string
        allowDestinationCall:
          description: >-
            Whether swaps or other contract calls should be allowed as part of the destination
            transaction of a bridge transfer. Separate swap transactions on the destination chain
            are not affected by this flag. By default, parameter is `true`.
          type: boolean
        fee:
          format: double
          description: >-
            The percent of the integrator's fee that is taken from every transaction. The maximum
            fee amount should be less than 100%.
          maximum: 1
          exclusiveMaximum: true
          minimum: 0
          type: number
    ContractCallRequest:
      deprecated: true
      title: Root type for ContractCallRequest
      description: Object defining instructions on how to perform a cross chain call
      required:
        - fromChain
        - fromToken
        - fromAddress
        - toChain
        - toToken
        - toAmount
        - toContractAddress
        - toContractCallData
        - toContractGasLimit
      type: object
      properties:
        fromChain:
          description: The sending chain. Can be the chain id or chain key
          type: number
        fromToken:
          description: The token that should be transferred. Can be the address or the symbol
          type: string
        fromAddress:
          description: The wallet that will send the transaction and contains the starting token
          type: string
        toChain:
          description: The receiving chain. Can be the chain id or chain key
          type: number
        toToken:
          description: >-
            The token required to perform the contract interation (can be something to stake,
            donate or to be used as payment)
          type: string
        toAmount:
          description: >-
            The amount of token required by the contract interaction. The LI.FI API will try and
            generate a quote that guarantees at least that amount on the destination chain.
          type: string
        toContractAddress:
          description: The address of the contract to interact with
          type: string
        contractOutputsToken:
          description: >-
            Some contract interactions will output a token. This is the case in things like
            staking. Omit this parameter if no token should be returned to the user.
          type: string
        toContractCallData:
          description: The calldata to be sent to the contract for the interaction on the destination chain.
          type: string
        toContractGasLimit:
          description: >-
            The estimated gas used by the destination call. If this value is incorrect, the
            interaction may fail -- choose this carefully!
          type: string
        toApprovalAddress:
          description: >-
            If the approval address is different than the contract to call, specify that address
            here
          type: string
        toFallbackAddress:
          description: >-
            If the call fails, use this address to send the bridged tokens to. If none is
            specified, the sending address will be used.
          type: string
        slippage:
          format: double
          description: >-
            The maximum allowed slippage for the transaction as a decimal value. 0.005 represents
            0.5%.
          maximum: 1
          minimum: 0
          type: number
        integrator:
          description: A string containing tracking information about the integrator of the API
          type: string
        referrer:
          description: A string containing tracking information about the referrer of the integrator
          type: string
        allowBridges:
          description: >-
            List of bridges that are allowed for this transaction. Retrieve the current catalog from
            the `/v1/tools` endpoint.
          type: array
          items:
            type: string
        denyBridges:
          description: >-
            List of bridges that are not allowed for this transaction. Retrieve the current catalog
            from the `/v1/tools` endpoint.
          type: array
          items:
            type: string
        preferBridges:
          description: >-
            List of bridges that should be preferred for this transaction. Retrieve the current
            catalog from the `/v1/tools` endpoint.
          type: array
          items:
            type: string
        allowExchanges:
          description: >-
            List of exchanges that are allowed for this transaction. Retrieve the current catalog
            from the `/v1/tools` endpoint.
          type: array
          items:
            type: string
        denyExchanges:
          description: >-
            List of exchanges that are not allowed for this transaction. Retrieve the current
            catalog from the `/v1/tools` endpoint.
          type: array
          items:
            type: string
        preferExchanges:
          description: >-
            List of exchanges that should be preferred for this transaction. Retrieve the current
            catalog from the `/v1/tools` endpoint.
          type: array
          items:
            type: string
        fee:
          format: double
          description: >-
            The percent of the integrator's fee that is taken from every transaction. The maximum
            fee amount should be less than 100%.
          maximum: 1
          exclusiveMaximum: true
          minimum: 0
          type: number
        allowDestinationCall:
          description: >-
            Whether swaps or other contract calls should be allowed as part of the destination
            transaction of a bridge transfer. Separate swap transactions on the destination chain
            are not affected by this flag. By default, parameter is `true`.
          type: boolean
    PossibilitiesRequest:
      title: Root Type for PossibilitiesRequest
      description: 'Object defining preferences regarding chain, exchanges and bridges'
      type: object
      properties:
        chains:
          description: The ids of the chains that should be taken into consideration for the possibilities
          type: array
          items:
            format: number
            type: number
        bridges:
          $ref: '#/components/schemas/AllowDenyPrefer'
          description: >-
            Object configuring the bridges that should or should not be taken into consideration
            for the possibilities
          properties:
            allow:
              type: array
              items:
                $ref: '#/components/schemas/BridgesEnum'
            deny:
              type: array
              items:
                $ref: '#/components/schemas/BridgesEnum'
            prefer:
              type: array
              items:
                $ref: '#/components/schemas/BridgesEnum'
        exchanges:
          $ref: '#/components/schemas/AllowDenyPrefer'
          description: >-
            Object configuring the exchanges that should or should not be taken into consideration
            for the possibilities
          properties:
            allow:
              type: array
              items:
                $ref: '#/components/schemas/ExchangesEnum'
            deny:
              type: array
              items:
                $ref: '#/components/schemas/ExchangesEnum'
            prefer:
              type: array
              items:
                $ref: '#/components/schemas/ExchangesEnum'
        include:
          description: >-
            To reduce the size of the returned possibilities, you can select which kind of
            information you like to see.

            Possible values are `chains`, `tokens`, `bridges`, and `exchanges`.
          type: array
          items:
            $ref: '#/components/schemas/PossibilitiesTopicEnum'
      example:
        chains:
          - 100
          - 137
        bridges:
          allow:
            - relay
            - hop
          deny:
            - cbridge
          prefer:
            - relay
        exchanges:
          allow:
            - 1inch
            - paraswap
            - openocean
          deny:
            - 0x
          prefer:
            - 1inch
    Chain:
      title: Root Type for Chain
      description: Representation of a chain
      required:
        - coin
        - id
        - key
        - mainnet
        - name
      type: object
      properties:
        key:
          description: Short string represenation of the chain
          type: string
        chainType:
          description: Type of the chain
          type: string
        name:
          description: Name of the chain
          type: string
        coin:
          description: The native coin of the chain
          type: string
        id:
          format: number
          description: Unique id of the chain
          type: number
        mainnet:
          description: Whether the chain is mainnet or not
          type: boolean
        logoURI:
          description: Logo of the chain
          type: string
        tokenlistUrl:
          description: Url to the list of available tokens
          type: string
        faucetUrls:
          description: List of available faucets
          type: array
          items:
            type: string
        multicallAddress:
          description: The multicall contract address
          type: string
        metamask:
          description: >-
            Information about the chain from metamask. Contains data about RPCs and block
            explorers
          type: object
          properties:
            chainId:
              type: string
            blockExplorerUrls:
              type: array
              items:
                type: string
            chainName:
              type: string
            nativeCurrency:
              type: object
              properties:
                name:
                  type: string
                symbol:
                  type: string
                decimals:
                  format: number
                  type: number
            rpcUrls:
              type: array
              items:
                type: string
        nativeToken:
          $ref: '#/components/schemas/Token'
          description: The native token info for the chain
      example:
        key: pol
        name: Polygon
        coin: MATIC
        id: 137
        mainnet: true
        logoURI: 'https://raw.githubusercontent.com/lifinance/types/main/src/assets/icons/chains/polygon.svg'
        tokenlistUrl: >-
          https://unpkg.com/quickswap-default-token-list@1.0.71/build/quickswap-default.tokenlist.json
        faucetUrls:
          - 'https://stakely.io/faucet/polygon-matic'
        metamask:
          chainId: '0x89'
          blockExplorerUrls:
            - 'https://polygonscan.com/'
            - 'https://explorer-mainnet.maticvigil.com/'
          chainName: Matic(Polygon) Mainnet
          nativeCurrency:
            name: MATIC
            symbol: MATIC
            decimals: 18
          rpcUrls:
            - 'https://polygon-rpc.com/'
            - 'https://polygon.llamarpc.com/'
    Token:
      title: Root Type for Token
      description: Representation of a Token
      required:
        - address
        - chainId
        - decimals
        - name
        - symbol
      type: object
      properties:
        address:
          description: Address of the token
          type: string
        decimals:
          format: number
          description: Number of decimals the token uses
          type: number
        symbol:
          description: Symbol of the token
          type: string
        chainId:
          format: number
          description: Id of the token's chain
          type: number
        coinKey:
          description: Identifier for the token
          type: string
        name:
          description: Name of the token
          type: string
        logoURI:
          description: Logo of the token
          type: string
        priceUSD:
          description: Token price in USD
          type: string
      example:
        address: '0x8f3cf7ad23cd3cadbd9735aff958023239c6a063'
        symbol: DAI
        decimals: 18
        chainId: 137
        name: (PoS) Dai Stablecoin
        coinKey: DAI
        priceUSD: '1'
        logoURI: >-
          https://static.debank.com/image/matic_token/logo_url/0x8f3cf7ad23cd3cadbd9735aff958023239c6a063/549c4205dbb199f1b8b03af783f35e71.png
    PossibilitiesResponse:
      deprecated: true
      title: Root Type for PossibilitiesResponse
      description: >-
        Object listing current possibilities for any-to-any cross-chain-swaps based on the provided
        preferences
      required:
        - chains
        - tokens
        - exchanges
        - bridges
      type: object
      properties:
        chains:
          description: Possible chains that can be sent from or to
          type: array
          items:
            $ref: '#/components/schemas/Chain'
        tokens:
          description: Possible `Tokens` that can be transferred
          type: array
          items:
            $ref: '#/components/schemas/Token'
[...]
